body {
    background-color: black;
    color: rgb(131, 199, 111);
    font-family: "chalkduster";
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tape {
    background-color: black;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.banner {
    background-image: linear-gradient(to left, black, rgb(20, 73, 4), black);
}

img {
    max-width: 100%;
    height: auto;
  }